*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

::selection{
  background-color: #212529;
  color: #fff;
}

h1{font-size: 3.5rem;}
h2{font-size: 3rem;}
h3{font-size: 2.5rem;}
h4{font-size: 2rem;}
h5{font-size: 1.5rem;}
h6{font-size: 1.3rem;}
p{font-size: 17px;}

/*==========
Estilos Navbar
============*/
header{
  background-color: #212529;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.navbar__logo{
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
.navbar__logo a{
  text-decoration: none;
  color: #fff;
}

.navbar{
  position: absolute;
  top: -700px;
  left: -2000px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
}
.navbar.active{
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  transition: all ease .5s;
}

.navbar__item{
  list-style: none;
}

.navbar__item a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #fff ;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 1rem;
}


@media (min-width: 768px) {
  .mobileMenu__container{
    display: none;
  }
  .navbar{
    position: initial;
    margin: 0;
  }
  .navbar__item a{
    font-size: 1rem;
    color: #fff;
    display: inline;
    transition: all ease .5s;
  }
  .navbar__item a:hover{
    border-bottom: solid #fff 1px;
  }
}

/*estilos menu hamburguesa*/
.burguerMenu__container{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.burguerMenu__container span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.burguerMenu__container span:nth-child(1){
  top:0px;
  left: 0px;
}
.burguerMenu__container span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.burguerMenu__container span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.burguerMenu__container:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.burgerMenu__container:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.burguerMenu__container:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.burguerMenu__container.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.burguerMenu__container.open span:nth-child(2){
  opacity:0;
}
.burguerMenu__container.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}

.initial{
  position: absolute;
  background-color: #212529;
  top: -1000px;
  left: -1000px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all ease .5s;
}

.initial.active{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0 0 80% 0;
}



/*estilos cart y social media*/
.socialMedia__container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons__container{
  display: flex;
}

.socialIcon{
  padding-right: 1rem;
}

.icon{
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all ease .5s;
}

.icon:hover{
  color: red;
  transform: translateY(-5px);
}


/*==========
Fin Estilos Navbar
============*/

/*==========
Estilos greeting
============*/

.itemListContainer{
  width: 100%;
  height: 100%;
  padding: 0 5rem 5rem 5rem;
}

.greeting__container{
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting{
  text-transform: uppercase;
  color: #212529;
}

/*==========
Fin Estilos greeting
============*/


/*==========
Estilos Detalles del productos
============*/

.ItemDetailContainer{
  width: 100%;
  padding: 3rem 5rem 0rem 5rem;
  display: flex;
  gap: 3rem;
}

.ItemDetail__column1{
  width: 50%;
}

.ItemDetail__column2{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemDetail__title{
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.ItemDetail__text{
  margin-bottom: 2rem;
}

.ItemDetail__btn-añadir{
  position: relative;
  width: 10rem;
  margin-top: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: #212529;
  border: none;
  transition: all ease .5s;
  z-index: 1;
  overflow: hidden;
}

.ItemDetail__btn-añadir::after{
  position: absolute;
  top: -100%;
  right: 0;
  content: '';
  width: 10rem;
  height: 2.5rem;
  background-color: red;
  transition: all ease .3s;
  z-index: -1;
}

.ItemDetail__btn-añadir:hover{
  z-index: 1;
  color: #fff;
}

.ItemDetail__btn-añadir:hover::after{
  top: 0;
}
/*==========
Fin Estilos Detalles del productos
============*/

/*==========
Estilos Item Counter Container
============*/
.ItemCounter{
  margin-top: 1rem;
}

.ItemCounter__stock{
  font-weight: 700;
  color: red;
}

.ItemCounter__container{
  width: 7rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  border: solid 1px #f2f2f2;
  margin-top: .5rem;
}

.ItemCounter__btn{
  width: 2rem;
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.ItemCounter__btn:hover{
  background-color: #d4d3d3;

}

.ItemCounter__counter{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
}

/*==========
Fin Estilos Item Counter Container
============*/



/*==========
Estilos productos home page
============*/

.productos__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.product__container{
  width: 20rem;
  text-align: center;
  border: solid 1px #ada4a4;
  cursor: pointer;
  transition: all ease .5s;
  overflow: hidden;
}

.product__container:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 1px #ada4a4;
  border-radius: 20px;
}

.product__container:hover .product__img{
  transform: translateY(-1rem);
}

.product__container:hover .product-img__container{
  filter: grayscale(0);
}

.product-text__container{
  padding: 1rem;
  background-color: #f2f2f2;
}

.product-img__container{
  transition: all ease .5s;
  padding: 2rem;
  filter: grayscale(1);
}

.product__img{
  width: 100%;
  transition: all ease .3s;
}

.product__price{
  padding-top: 1rem;
  color: #000;
}

.product__title{
  color: #000;
}

a{
  text-decoration: none;
}


/*==========
Fin estilos home page productos
============*/