*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*==========
Estilos Navbar
============*/

.navbar{
  width: 100%;
  height: 4rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.navbar__logo-container{
  width: 50%;
  display: flex;
  align-items: center;
}
.navbar__logo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
}

.navbar__container-horizontal{
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__item{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  transition: all ease .3s;
}
.navbar__item:hover{
  transform: translateY(-5px);
}

.navbar__item-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
  position: relative;
}
.navbar__item-container:hover{
  background-color: red;
}

.menu__vertical{
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 1rem;
  display: none;
  list-style: none;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.navbar__item-container:hover .menu__vertical{
  display: block;
}

.menu__vertical-item{
  transition: al ease .3s;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.menu__vertical li{
  transition: all ease .3s;
}
.menu__vertical li:hover{
  transform: translateX(10px);
}


/*==========
Fin Estilos Navbar
============*/